/* Universal fellowship page styles: */

// site theme blue
$blue: rgba(0,47,255,.8);
$blue-full: rgba(0,47,255,1);

// section titles
[class*="__title"][class*="fellow-"] {
	margin-bottom: .5em;
	margin-top: 1em;
	font-size: 1.75rem;
	font-weight: 900;
	line-height: 1;
	text-transform: uppercase;
	@media screen and (min-width: 600px) {
		font-size: 2rem;
	}
}

[class*="fellow-"], [class*="fellowship"] {
	// links
	a {
		font-family: "base-mono-narrow", monospace;
		text-decoration: none;
		color: black;
		border-bottom: 2px solid $blue;
		background-color: transparent;
		-webkit-transition: background-color .3s;
		transition: background-color .3s;
		&:hover, &:focus {
			background-color: $blue;
		}
	}
	// paragraphs
	p {
		line-height: 1.5;
		margin: 1em 0;
		padding: 0;
	}
	// bolded text
	strong {
		font-family: "base-mono-narrow";
	}
}

/* Main Fellowship Styles: */

.fellowship-main-content {
	position: relative;
	display: grid;
	grid-template-areas: "type" "title" "due" "content" "questions";
	padding: 1em 4.167%;
	@media screen and (min-width: 600px) {
		padding: 1em 8.33%;
	}
	/* ADD TO ALL MAIN CONTENT DEFS: */
	@media screen and (min-width: 1024px) {
		max-width: calc(1000px + 16.67%);
		margin: 0 auto;
	}
}

.fellowship__page-type {
	grid-area: type;
	display: none;
}

/* Title: */

.fellowship__big-title {
	grid-area: title;
	position: relative;
	margin-bottom: .5em;
	margin-top: 1em;
	font-size: 2.25rem;
	font-weight: 900;
	line-height: 1;
/*	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -.125em; //-.25em;
		display: block;
		height: 4px;
		width: 100%;
		z-index: -1;
		background-color: $blue;
	//	transform: translate(0, -50%);
	} */
	@media screen and (min-width: 600px) {
		font-size: 2.75rem;
	}
	@media screen and (min-width: 768px) {
		font-size: 3rem;
	}
}

/* Due date: */

.fellowship__due-date {
	grid-area: due;
	@media screen and (min-width: 600px) {
		font-size: 1.125rem;
	}
}

/* Main Content: */

.fellowship__content {
	grid-area: content;
}

/* Description: */

.fellow-content__description {

}

.fellow-description__title {

}

.fellow-description__text {

}

/* Eligibility: */

.fellow-content__eligible {

}

.fellow-eligible__title {

}

.fellow-eligible__text {

}

/* How to Apply: */

.fellow-content__apply {

}

.fellow-apply__title {

}

.fellow-apply__text {
	position: relative;
	ul {
		position: relative;
		margin: 0;
		padding: 0 0 0 2em; // left padding only
		list-style-type: none;
		font-family: "base-mono-narrow", monospace;
		li {
			position: relative;
			margin-bottom: 1em;
			line-height: 1;
			/* NB: center of dot = 1rem from <li> */
			&::before {
				content: '';
				position: absolute;
				left: -4px;
				top: calc(.5em - 1px);
				display: block;
				height: 6px;
				width: 6px;
				background-color: $blue;
				border-radius: 50%;
				transform: translate(-.5em, -25%);
			}
		}
	}
}

/* Questions: */

.fellowship__questions {
	grid-area: questions;
}