/* Universal fellowship page styles: */

// site theme blue
$blue: rgba(0,47,255,.8);

// section titles
[class*="__title"][class*="fellow-"] {
	margin-bottom: .5em;
	margin-top: 1em;
	font-size: 1.75rem;
	font-weight: 900;
	line-height: 1;
	text-transform: uppercase;
	@media screen and (min-width: 600px) {
		font-size: 2rem;
	}
}

// links
[class*="fellow-"], [class*="fellowship"] {
	a {
		font-family: "base-mono-narrow", monospace;
		text-decoration: none;
		color: black;
		border-bottom: 2px solid $blue;
		background-color: transparent;
		-webkit-transition: background-color .3s;
		transition: background-color .3s;
		&:hover, &:focus {
			background-color: $blue;
		}
	}
}

/* Main Fellowship Styles: */

.fellowship-main-content {
	position: relative;
	display: grid;
	grid-template-areas: "type" "title" "due" "content" "questions";
	padding: 1em 4.167%;
	@media screen and (min-width: 600px) {
		padding: 1em 8.33%;
	}
}

.fellowship__page-type {
	grid-area: type;
	display: none;
}

/* Title: */

.fellowship__big-title {
	grid-area: title;
	margin-bottom: .5em;
	margin-top: 1em;
	font-size: 3rem;
	font-weight: 900;
//	text-transform: uppercase;
}

/* Due date: */

.fellowship__due-date {
	grid-area: due;
}

/* Main Content: */

.fellowship__content {
	grid-area: content;
}

/* Description: */

.fellow-content__description {

}

.fellow-description__title {

}

.fellow-description__text {

}

/* Eligibility: */

.fellow-content__eligible {

}

.fellow-eligible__title {

}

.fellow-eligible__text {

}

/* How to Apply: */

.fellow-content__apply {

}

.fellow-apply__title {

}

.fellow-apply__text {

}

/* Questions: */

.fellowship__questions {
	grid-area: questions;
}