[class*="footer"] {
	a {
		text-decoration: none;
		color: black;
	}
}

.footer-wrapper {
	padding: 1rem 4.167%;
	background-color: rgba(0,0,0,.05);
	@media screen and (min-width: 600px) {
		padding: 1rem 8.33%;
	}	
}

.footer-main-grid {
	position: relative;
	display: grid;
	grid-template-areas: "top top top top"
						 "site connect connect contact"
						 "logos logos logos logos";
	grid-auto-rows: minmax(25vh, auto);
	grid-template-columns: 1fr 1fr 1fr 1fr;
//	grid-gap: 4.167%;
	justify-content: center;
}

/* Logos: */

.footer__logos {
	grid-area: logos;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	a {
		display: inline-block;
		img {
			height: 2rem;
		}
	}
}

.footer-logo__slab {

}

.footer-logo__uva {

}

/* To Top: */

.footer__to-top {
	grid-area: top;
	a {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		text-transform: uppercase;
		text-align: center;
		img {
			height: 1.5em;
		}
		span {
			margin-top: .5em;
			line-height: 1;
		}
	}
}

/* Site Links: */

.footer__sitemap {
	grid-area: site;
	a {
		display: block;
	}
}

.footer-map__title {

}

.footer-map__links {

}

/* Contact: */

.footer__contact {
	grid-area: contact;
	font-family: "base-mono-narrow", monospace;
	font-weight: 200;
	text-align: right;
	span {
		float: left;
		font-family: "Raleway", sans-serif;
		font-weight: normal;
	}
}

[class*="footer-contact"] {
	margin-top: .5rem;
	line-height: 1;
}

.footer-contact__email {
	display: none;

}

.footer-contact__address {
	line-height: 1.25;
}

.footer-contact__phone {

}

.footer-contact__fax {

}

/* Connect: */

.footer__connect {
	grid-area: connect;
}

.footer-connect__social {
	position: relative;
	display: flex;
	justify-content: space-around;
	border: 1px solid black;
	div {
		display: inline-block;
	}
	img {
		height: 2rem;
	}
}

.footer-social__fb {

}

.footer-social__twitter {

}

.footer-social__gh {

}

.footer-social__email {

}

.footer-connect__news {

}

.footer-news__title {

}

.footer-news__modal {

}