[class*="footer"] {
	color: white;
	a {
		text-decoration: none;
		color: white; // black;
	}
}

[class*="__title"][class*="footer"] {
	line-height: 1;
	margin-bottom: 1em;
	margin-top: .5em;
	font-weight: 700;
	text-transform: uppercase;
}

.footer-wrapper {
	padding: 1rem 4.167%;
	background-color: rgba(0,0,0,1);
	@media screen and (min-width: 900px) {
		padding: 1rem 8.33%;
	}	
}

.footer-main-grid {
	position: relative;
	display: grid;
	grid-template-areas: "top" "site" "connect" "contact" "logos";
	grid-template-columns: 1fr;
	justify-content: center;
	align-items: start;
	max-width: 1000px;
	margin: 0 auto;
	@media screen and (min-width: 768px) {
		grid-template-areas: "site contact connect top"
							 ".. logos logos ..";
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

.footer__sitemap, .footer__contact, .footer__connect {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: -1rem;
		display: block;
		width: 2px;
		height: 100%;
		background-color: white;
	}
}
/* Logos: */

.footer__logos {
	grid-area: logos;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-top: 2em;
	a {
		display: inline-block;
		&:first-of-type {
			margin-right: 2em;
		}
	}
	span {
		margin-top: 1rem;
		font-size: .5rem;
		font-style: italic;
		display: none;
	}
}

.footer-logo__slab {
	img {
		height: 3rem;
	}
}

.footer-logo__uva {
	margin-top: 1em;
	img {
		height: 2rem;
	}
}

/* To Top: */

.footer__to-top {
	grid-area: top;
	justify-self: center;
	a {
		position: relative;
		display: flex;
		align-items: flex-end;
		font-weight: 700;
		text-transform: uppercase;
	//	text-align: right;
		img {
			height: 4em;
			margin-top: .5em;
			transform: translate(.5rem, 0);
		}
		span {
			width: 4em;
			line-height: 1;
			color: magenta !important;
		}
	}
	@media screen and (min-width: 768px) {
		justify-self: end;
	}
}

/* Site Links: */

.footer__sitemap {
	grid-area: site;
	max-width: 150px;
	a {
		display: block;
	}
}

.footer-map__title {

}

.footer-map__links {
	a:first-of-type {
		color: magenta;
	}
}

/* Contact: */

.footer__contact {
	grid-area: contact;
	max-width: 250px;
//	font-family: "base-mono-narrow", monospace;
//	font-weight: 200;
//	margin-left: 4.167vw;
	text-align: right;
	div:first-of-type {
		text-align: left; //title 
	}
	span {
		float: left;
		font-family: "Raleway", sans-serif;
		font-weight: normal;
	}
}

[class*="footer-contact"] {
	margin-top: .5rem;
	line-height: 1;
}

.footer-contact__email {
	display: none;

}

.footer-contact__address {
	line-height: 1.25;
}

.footer-contact__phone {

}

.footer-contact__fax {

}

/* Connect: */

.footer__connect {
	grid-area: connect;
	max-width: 250px;
	@media screen and (min-width: 768px) {
		justify-self: end;
	}
}

.footer-connect__title {

}

.footer-connect__social {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	a {
		display: flex;
		height: 2rem;
		line-height: 2rem;
		margin-bottom: .5rem;
		img {
			display: inline-block;
			width: 2rem;
		}
		span {
			padding-left: 2em;
			display: none;
		}
	}
	@media screen and (min-width: 768px) {
		flex-flow: column nowrap;
		a {
			span {
				display: initial;
			}
		}
	}
}

.footer-social__fb {

}

.footer-social__twitter {

}

.footer-social__gh {

}

.footer-social__email {

}

.footer-connect__news {

}

.footer-news__title {

}

.footer-news__modal {

}