/* Universal Styles: */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

main {
  padding-top: 60px;
}

/* Partials: */
/* Universal Styles: */
[class*="__title"][class*="home-"],
[class*="__title"][class*="spatial-"],
[class*="__title"][class*="research-"] {
  margin-bottom: .5em;
  margin-top: 1em;
  font-family: "Raleway", sans-serif;
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
}
@media screen and (min-width: 600px) {
  [class*="__title"][class*="home-"],
  [class*="__title"][class*="spatial-"],
  [class*="__title"][class*="research-"] {
    font-size: 2rem;
  }
}

[class*="home-"] a,
[class*="maker-"] a,
[class*="post-"] a,
[class*="person-"] a,
[class*="spatial-"] a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid magenta;
  background-color: transparent;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}
[class*="home-"] a:hover, [class*="home-"] a:focus,
[class*="maker-"] a:hover,
[class*="maker-"] a:focus,
[class*="post-"] a:hover,
[class*="post-"] a:focus,
[class*="person-"] a:hover,
[class*="person-"] a:focus,
[class*="spatial-"] a:hover,
[class*="spatial-"] a:focus {
  background-color: magenta;
}

[class*="post-"] a,
[class*="person-"] a {
  border-bottom: 2px solid #75e3f0 !important;
}
[class*="post-"] a:hover, [class*="post-"] a:focus,
[class*="person-"] a:hover,
[class*="person-"] a:focus {
  background-color: #75e3f0 !important;
}

[class*="__cta"] {
  position: relative;
  margin-top: 1em;
}
[class*="__cta"] a {
  display: inline-block;
  padding: .25rem .5em;
  margin-top: 4px;
  font-size: 1rem;
  font-family: "base-mono-wide", monospace !important;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  color: #75e3f0;
  border: 2px solid #75e3f0;
}
[class*="__cta"] a:hover, [class*="__cta"] a:focus {
  background-color: transparent !important;
}
@media screen and (max-width: 767px) {
  [class*="__cta"] a {
    width: 100% !important;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  [class*="__cta"] a {
    margin: 0 !important;
    font-size: 1.25rem !important;
  }
}
@media screen and (min-width: 1024px) {
  [class*="__cta"] a {
    font-size: 1.5rem !important;
  }
}

/* Basic Page Styles: */
/* Coolors Exported Palette - coolors.co/6320ee-edd2e0-6cd4ff-8b80f9-242325 */
/* HSL */
/* RGB */
/* Coolors Exported Palette - coolors.co/e7e6f7-6c698d-d8d0c1-7d5ba6-75e3ef */
/* HSL */
/* Additional: */
.page-wrapper, .page-wrapper--text {
  position: relative;
  padding: 0em 4.167%;
  padding-bottom: 3em;
}
@media screen and (min-width: 600px) {
  .page-wrapper, .page-wrapper--text {
    padding: 0em 8.33%;
    padding-bottom: 3em;
  }
}
@media screen and (min-width: 768px) {
  .page-wrapper, .page-wrapper--text {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 1020px) {
  .page-wrapper--text {
    max-width: calc(800px + 16.67%);
    margin: 0 auto;
  }
}

.page-title__text {
  margin-top: 1.5em !important;
}

.page-main-content {
  color: #3f4040;
}

/* Attribute Selectors: */
[class*="page-"] h1, [class*="page-"] h2, [class*="page-"] h3, [class*="page-"] h4 {
  position: relative;
  font-weight: 700;
  line-height: 1;
  color: black;
}
[class*="page-"] h1 {
  margin-bottom: .5em;
  margin-top: .5em;
  font-size: 2rem;
  font-weight: 900;
}
@media screen and (min-width: 768px) {
  [class*="page-"] h1 {
    margin-top: 1em;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1020px) {
  [class*="page-"] h1 {
    font-size: 3rem;
  }
}
[class*="page-"] h2 {
  margin-top: .5em;
  margin-bottom: .75em;
  padding-bottom: calc(.25em - 2px);
  font-size: 1.625rem;
  font-family: "Sunflower", sans-serif;
  border-bottom: 2px solid #6320ee;
}
@media screen and (min-width: 768px) {
  [class*="page-"] h2 {
    margin-top: 1em;
    font-size: 2rem;
  }
}
@media screen and (min-width: 1020px) {
  [class*="page-"] h2 {
    font-size: 2.25rem;
  }
}
[class*="page-"] h3 {
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 1.375rem;
  font-family: "Sunflower", sans-serif;
}
@media screen and (min-width: 768px) {
  [class*="page-"] h3 {
    margin-top: 1em;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1020px) {
  [class*="page-"] h3 {
    font-size: 1.625rem;
  }
}
[class*="page-"] h4 {
  margin-top: .5em;
  margin-bottom: .5em;
  padding-bottom: .25em;
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  [class*="page-"] h4 {
    margin-top: 1em;
  }
}
[class*="page-"] a {
  font-weight: bold;
  text-decoration: none;
  color: #3f4040;
  border-bottom: 2px solid #6320ee;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}
[class*="page-"] a:active, [class*="page-"] a:hover, [class*="page-"] a:focus {
  color: black;
  background-color: rgba(101, 32, 238, 0.7);
}
[class*="page-"] blockquote {
  margin: 1em;
  margin-left: 0;
  padding-left: calc(1.5em - 2px);
  border-left: 2px solid #6320ee;
}
[class*="page-"] blockquote * {
  opacity: .5;
}
[class*="page-"] code {
  font-family: "Inconsolata", monospace !important;
  white-space: pre-wrap;
}
[class*="page-"] pre {
  max-width: 100%;
  white-space: pre-wrap;
}
[class*="page-"] ol, [class*="page-"] ul {
  position: relative;
  padding-left: 2.25em;
  padding-right: 1em;
  margin: 1.5em 0;
}
[class*="page-"] ol li p, [class*="page-"] ul li p {
  margin: 0;
}
[class*="page-"] ol ul, [class*="page-"] ul ul {
  margin: 0;
  padding-right: 0;
}
[class*="page-"] ol {
  list-style-type: none;
  counter-reset: item-num;
}
[class*="page-"] ol li {
  position: relative;
}
[class*="page-"] ol li::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: counter(item-num) ".";
  counter-increment: item-num;
  position: absolute;
  top: 0;
  left: -1.75em;
  display: inline-block;
  height: 24px;
  font-family: "Oswald", sans-serif;
  font-size: .925rem;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}
[class*="page-"] ol li ul li::before {
  content: '';
}
@media screen and (min-width: 768px) {
  [class*="page-"] ol li::before {
    height: 27px;
    font-size: 1.0625rem;
    line-height: 24px;
  }
}

/* Homepage Styles: */
.home-landing-grid {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  padding-left: 4.167%;
}
@media screen and (min-width: 600px) {
  .home-landing-grid {
    padding-left: 8.33%;
  }
}

.home-title-wrapper {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 4em;
  font-weight: 600;
  text-transform: uppercase;
  line-height: .9;
  /* NB: need to move placement of words on smaller screens */
  border-bottom: 6px solid magenta;
}
.home-title-wrapper .home-title__text {
  position: relative;
}
@media screen and (min-width: 600px) {
  .home-title-wrapper {
    font-size: 5em;
  }
}
@media screen and (min-width: 768px) {
  .home-title-wrapper {
    font-size: 6em;
  }
}
@media screen and (min-width: 1024px) {
  .home-title-wrapper {
    font-size: 7em;
  }
}

.home-landing__subtitle {
  position: relative;
  width: 100%;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1;
  padding-top: 1em;
}
@media screen and (min-width: 600px) {
  .home-landing__subtitle {
    font-size: 1.75rem;
    padding-top: 1.5em;
  }
}
@media screen and (min-width: 768px) {
  .home-landing__subtitle {
    font-size: 2rem;
    padding-top: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
@media screen and (min-width: 1024px) {
  .home-landing__subtitle {
    font-size: 2rem;
  }
}

/* Main Content */
.home-main-content {
  position: relative;
  display: -ms-grid;
  display: grid;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "hero" "faq" "contact" "hours" "grads" "floor" "make" "gis" "learn" "events" "blog" "contact2" "listserv" "people" "projects" "origins" "charter" "colophon";
  padding: 0 4.167%;
  padding-bottom: 3rem;
}
@media screen and (min-width: 600px) {
  .home-main-content {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "hero hero" "faq contact" "faq hours" "grads floor" "make gis" "learn learn" "events events" "blog contact2" "blog listserv" "people projects" "origins origins" "charter colophon";
    grid-auto-rows: minmax(25vh, auto);
    padding: 0 8.33%;
    padding-bottom: 3rem;
  }
  .home__hero {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .home__contact--1 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .home__faq {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
  }
  .home__students {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .home__floor-diagram {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .home__office-hours {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .home__makerspace-corner {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .home__gis-corner {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
  .home__learn {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .home__events {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .home__listserv-prompt {
    -ms-grid-row: 9;
    -ms-grid-column: 2;
  }
  .home__contact--2 {
    -ms-grid-row: 8;
    -ms-grid-column: 2;
  }
  .home__people {
    -ms-grid-row: 10;
    -ms-grid-column: 1;
  }
  .home__blog {
    -ms-grid-row: 8;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
  }
  .home__origin-stories {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .home__staffer-projects {
    -ms-grid-row: 10;
    -ms-grid-column: 2;
  }
  .home__charter-link {
    -ms-grid-row: 12;
    -ms-grid-column: 1;
  }
  .home__colophon {
    -ms-grid-row: 12;
    -ms-grid-column: 2;
  }
  .v2__faq {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
  }
  .v2__contact {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .v2__events {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .v2__office-hours {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .footer__contact {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
}

/* Hero: */
.home__hero {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: hero;
  position: relative;
  padding: 1em 0;
  font-size: 1rem;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 600px) {
  .home__hero {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .home__hero {
    font-size: 1.75rem;
    line-height: 1.714;
  }
}

.home-hero__text {
  position: relative;
}
.home-hero__text p {
  margin: 0;
  padding-bottom: 1em;
}
.home-hero__text p:first-of-type {
  padding-top: 2em;
}
@media screen and (max-width: 767px) {
  .home-hero__text {
    padding: 0 2em;
    border: 2px solid magenta;
    /*	&::before {
    		content: '';
    		position: absolute;
    		right: 33%;
    		top: 0;
    		display: block;
    		height: 3em;
    		width: 1.5em;
    		border-right: 2px solid magenta;
    		border-left: 2px solid magenta;
    		transform: translate(50%, -50%) skew(-45deg, 0);
    	} */
  }
}

/* Contact prompt: */
.home__contact--1 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: contact;
}
@media screen and (min-width: 768px) {
  .home__contact--1 {
    font-size: 1.125rem;
  }
}

/* FAQ corner/link: */
.home__faq {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: faq;
  padding-right: 0;
}
@media screen and (min-width: 600px) {
  .home__faq {
    padding-right: 8.33%;
  }
}
@media screen and (min-width: 768px) {
  .home__faq {
    font-size: 1.125rem;
  }
}

.home-faq__subtitle {
  padding-bottom: 1em;
}

.home-faq__questions {
  position: relative;
  font-family: "base-mono-narrow", monospace;
}
.home-faq__questions div {
  position: relative;
  margin-bottom: 1em;
}
.home-faq__questions div::before {
  content: '';
  position: absolute;
  left: -12px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
}
.home-faq__questions div a {
  line-height: 1.5;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid #75e3f0;
  background-color: transparent;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}
.home-faq__questions div a:hover, .home-faq__questions div a:focus {
  background-color: #75e3f0;
}

.home-faq__cta {
  position: relative;
  margin-top: 1em;
}

/* Grad students: */
.home__students {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: grads;
  padding-right: 0;
}
.home__students a {
  border-bottom: 2px solid #002fff;
}
.home__students a:hover, .home__students a:focus {
  background-color: #002fff;
}
@media screen and (min-width: 600px) {
  .home__students {
    padding-right: 8.33%;
  }
}
@media screen and (min-width: 768px) {
  .home__students {
    font-size: 1.125rem;
  }
}

.home-students__cta a {
  color: #002fff;
  border: 2px solid #002fff;
}
.home-students__cta a:hover, .home-students__cta a:focus {
  background-color: transparent;
}

/* Floor diagram: (esp for office hours) */
.home__floor-diagram {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: floor;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1.75rem;
}
.home__floor-diagram div img {
  display: inline-block;
  margin-top: 1em;
}
@media screen and (min-width: 600px) {
  .home__floor-diagram {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 2rem;
  }
}

/* Office hours: */
.home__office-hours {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: hours;
  padding-right: 0;
}
@media screen and (min-width: 600px) {
  .home__office-hours {
    padding-right: 8.33%;
  }
}
@media screen and (min-width: 768px) {
  .home__office-hours {
    font-size: 1.125rem;
  }
}

.home-hours__when {
  font-family: "base-mono-narrow";
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 24px;
}

/* Makerspace corner: */
.home__makerspace-corner {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: make;
  padding-right: 0;
}
@media screen and (min-width: 600px) {
  .home__makerspace-corner {
    padding-right: 8.33%;
  }
}
@media screen and (min-width: 768px) {
  .home__makerspace-corner {
    font-size: 1.125rem;
  }
}

.home-makerspace__hours {
  position: relative;
  border: 4px solid magenta;
  font-family: "base-mono-narrow", monospace;
  font-size: 20px;
  text-align: right;
  margin-top: calc(2em + 4px);
  padding: .5em 1em;
}
.home-makerspace__hours div {
  position: absolute;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  line-height: 1;
  -webkit-transform: translate(-1em, calc(-1.5em - 4px));
          transform: translate(-1em, calc(-1.5em - 4px));
}
.home-makerspace__hours span {
  float: left;
  color: magenta;
}

.home-makerspace__text {
  margin-top: 1.5rem;
}

.home-makerspace__cta a {
  border-color: magenta !important;
  color: magenta !important;
}

/* GIS corner: */
.home__gis-corner {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: gis;
  padding-left: 0;
}
@media screen and (min-width: 600px) {
  .home__gis-corner {
    padding-left: 8.33%;
  }
}
@media screen and (min-width: 768px) {
  .home__gis-corner {
    font-size: 1.125rem;
  }
}

/* Starter kit corner: */
.home__learn {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: learn;
}

/* Events & get involved prompt: */
.home__events {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: events;
}

/* Listserv sign-up: */
.home__listserv-prompt {
  -ms-grid-row: 13;
  -ms-grid-column: 1;
  grid-area: listserv;
}

.home-listserv__text {
  padding: 1em 0;
  font-weight: 900;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}

/* Second direct contact: */
.home__contact--2 {
  -ms-grid-row: 12;
  -ms-grid-column: 1;
  grid-area: contact2;
}

/* People: */
.home__people {
  -ms-grid-row: 14;
  -ms-grid-column: 1;
  grid-area: people;
}

/* Blog corner: */
.home__blog {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
  grid-area: blog;
}

/* Origin stories: */
.home__origin-stories {
  -ms-grid-row: 16;
  -ms-grid-column: 1;
  grid-area: origins;
}

/* Projects corner: */
.home__staffer-projects {
  -ms-grid-row: 15;
  -ms-grid-column: 1;
  grid-area: projects;
}

/* Charter: */
.home__charter-link {
  -ms-grid-row: 17;
  -ms-grid-column: 1;
  grid-area: charter;
}

/* Colophon */
.home__colophon {
  -ms-grid-row: 18;
  -ms-grid-column: 1;
  grid-area: colophon;
}

/* Homepage, Version 2 */
html, body {
  background-color: white;
}

/* ## Universal styles: */
[class*="v2-"][class*="__title"] {
  font-size: 2em;
  font-weight: bold;
}

[class*="v2__"] {
  position: relative;
  margin: 1em;
  padding: 1em;
  border: 1px solid black;
}

a[class*="v2-"] {
  color: black;
}

/* ## Main styles: */
.v2-wrapper {
  position: relative;
  margin-top: -60px;
}
@media screen and (min-width: 768px) {
  .v2-wrapper {
    font-size: 1.125rem;
  }
}

/* # Landing: */
.v2-landing-wrapper {
  position: relative;
}

.v2-landing__big-title {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 0 4.167%;
  background-color: #222;
}

.v2-title__text {
  position: relative;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3em;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  color: white;
  background-color: black;
  mix-blend-mode: lighten;
}
.v2-title__text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lightblue;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url("../img/decorative/color-splatter-purple.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("../img/decorative/color-splatter-purple.jpg");
  background-size: cover;
  mix-blend-mode: multiply;
}
.v2-title__text span {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .v2-title__text {
    font-size: 4em;
  }
}

/* # Main content: */
.v2-main-content {
  position: relative;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "faq" "contact" "find" "events" "hours" "students" "maker" "spatial";
  padding: 0 4.167%;
  color: #3f4040;
}
@media screen and (min-width: 1024px) {
  .v2-main-content {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "faq faq" "contact contact" "events find" "events hours" "students students" "spatial maker";
  }
  .home__contact--1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .home__faq {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .home__office-hours {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .home__events {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
  }
  .v2__faq {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .v2__contact {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .v2__find-us {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .v2__events {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
  }
  .v2__office-hours {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .v2__student-opps {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .v2__makerspace {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
  }
  .v2__spatial-tech {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }
  .footer__contact {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
}

/* FAQ: */
.v2__faq {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: faq;
}

/* Contact us: */
.v2__contact {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: contact;
}

.v2-contact__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Find us: */
.v2__find-us {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: find;
}

.v2-find__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Events: */
.v2__events {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: events;
}

.v2-events__upcoming {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.v2-events__upcoming div {
  height: 200px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  border: rgba(0, 0, 0, 0.5);
  margin-top: 1em;
}

/* Open office hours: */
.v2__office-hours {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: hours;
}

/* Student Opportunities: */
.v2__student-opps {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: students;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  max-width: 100%;
}

.v2-student__text {
  display: inline-block;
}

.v2-student__img {
  position: relative;
  background-image: url("../img/makerspace/doge-print.jpg");
  background-size: 150%;
  background-position: left bottom;
}

.v2-student__cta {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Makerspace: */
.v2__makerspace {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: maker;
}

.v2-maker__hours {
  position: relative;
  border: 4px solid #FFBFB7;
  font-family: "base-mono-narrow", monospace;
  font-size: 20px;
  text-align: right;
  margin-top: calc(2em + 4px);
  padding: .5em 1em;
}
.v2-maker__hours div {
  position: absolute;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  line-height: 1;
  -webkit-transform: translate(-1em, calc(-1.5em - 4px));
          transform: translate(-1em, calc(-1.5em - 4px));
}
.v2-maker__hours span {
  float: left;
  color: #FFBFB7;
}

/* Spatial Tech: */
.v2__spatial-tech {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: spatial;
}

.sections-landing-wrapper {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: minmax(100vh, auto);
}

.sections-landing-grid {
  position: relative;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title" "subtitle";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  overflow: hidden;
  width: 100%;
  padding-left: 4.167%;
}
@media screen and (min-width: 600px) {
  .sections-landing-grid {
    padding: 0 8.33%;
  }
}

.sections-landing__big-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
      align-self: end;
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.sections-title__text {
  position: relative;
  margin-top: 1em;
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: .9;
}
.sections-title__text::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  display: block;
  height: 4px;
  width: 100vw;
  background-color: cyan;
}
@media screen and (min-width: 600px) {
  .sections-title__text {
    font-size: 5rem;
  }
}
@media screen and (min-width: 900px) {
  .sections-title__text {
    font-size: 6rem;
  }
}
@media screen and (min-width: 1024px) {
  .sections-title__text {
    font-size: 7rem;
  }
}

.sections-landing__subtitle {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: subtitle;
  -ms-flex-item-align: start;
      align-self: start;
  position: relative;
  margin-top: 1.5em;
  padding-bottom: 1em;
  font-size: 1rem;
}
@media screen and (min-width: 600px) {
  .sections-landing__subtitle {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .sections-landing__subtitle {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 1024px) {
  .sections-landing__subtitle {
    font-size: 2rem;
  }
}

.sections-main-content {
  position: relative;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "one" "two" "three" "four" "five";
  grid-auto-rows: minmax(50vh, auto);
  padding: 0 4.167%;
  padding-top: 1em;
}
@media screen and (min-width: 600px) {
  .sections-main-content {
    padding: 0 8.33%;
    padding-top: 1em;
  }
}

[class*="__title"][class*="section-"] {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
}

[class*="sections__"] {
  padding-bottom: 1em;
}

.sections__one {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.sections__two {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: two;
}

.sections__three {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: three;
}

.sections__four {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: four;
}

.sections__five {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: five;
}

/* Universal footer styles: */
[class*="footer"] {
  color: white;
}
[class*="footer"] a {
  text-decoration: none;
  color: white;
}

[class*="__title"][class*="footer"] {
  line-height: 1;
  margin-bottom: 1em;
  margin-top: .5em;
  font-weight: 700;
  text-transform: uppercase;
}

/* Main styles: */
.footer-wrapper {
  margin-top: 2rem;
  padding: 1rem 4.167%;
  background-color: black;
}
@media screen and (min-width: 900px) {
  .footer-wrapper {
    padding: 1rem 8.33%;
  }
}

.footer-main-grid {
  position: relative;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "top" "site" "connect" "contact" "logos";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  max-width: 1000px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer-main-grid {
        grid-template-areas: "site contact connect top" ".. logos logos ..";
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .home__contact--1 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .v2__contact {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .footer__to-top {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .footer__sitemap {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .footer__contact {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .footer__connect {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .footer__logos {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
  }
}

.footer__sitemap, .footer__contact, .footer__connect {
  position: relative;
}
@media screen and (max-width: 767px) {
  .footer__sitemap, .footer__contact, .footer__connect {
    -ms-grid-column-align: center;
        justify-self: center;
    width: 250px;
    margin-bottom: 1em;
  }
}
@media screen and (min-width: 768px) {
  .footer__sitemap::before, .footer__contact::before, .footer__connect::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1rem;
    display: block;
    width: 2px;
    height: 100%;
    background-color: white;
  }
}

/* Back To Top: */
.footer__to-top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: top;
  -ms-grid-column-align: center;
      justify-self: center;
}
.footer__to-top a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.footer__to-top a img {
  height: 2em;
  margin-bottom: .5em;
}
.footer__to-top a span {
  position: relative;
  width: 4em;
  padding-bottom: .5em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  color: magenta !important;
  border-bottom: 1px solid white;
}
@media screen and (min-width: 768px) {
  .footer__to-top {
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .footer__to-top a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .footer__to-top a img {
    height: 4em;
    margin-bottom: 0;
    margin-top: .5em;
    -webkit-transform: translate(0.5rem, 0);
            transform: translate(0.5rem, 0);
  }
  .footer__to-top a span {
    padding-bottom: 0;
    text-align: left;
    border-bottom: none;
  }
}

/* Explore: */
.footer__sitemap {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: site;
  width: 100%;
}
@media screen and (min-width: 600px) {
  .footer__sitemap {
    max-width: 75%;
  }
}
@media screen and (max-width: 767px) {
  .footer__sitemap {
    -ms-grid-column-align: center;
        justify-self: center;
    margin: 1em 0;
  }
}

@media screen and (max-width: 767px) {
  .footer-map__title {
    display: none;
  }
}

.footer-map__links a {
  display: inline-block;
  padding-right: 1em;
}
.footer-map__links a:first-of-type {
  color: magenta;
}
@media screen and (max-width: 767px) {
  .footer-map__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 768px) {
  .footer-map__links a {
    display: block;
  }
}

/* Contact: */
.footer__contact {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: contact;
  max-width: 250px;
  text-align: right;
}
.footer__contact div:first-of-type {
  text-align: left;
}
.footer__contact span {
  float: left;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
}

[class*="footer-contact"] {
  margin-top: .5rem;
  line-height: 1;
}

.footer-contact__email {
  display: none;
}

.footer-contact__address {
  line-height: 1.25;
}

/* Connect: */
.footer__connect {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: connect;
  max-width: 250px;
}
@media screen and (min-width: 768px) {
  .footer__connect {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.footer-connect__social {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-connect__social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2rem;
  line-height: 2rem;
  margin-bottom: .5rem;
}
.footer-connect__social a img {
  display: inline-block;
  width: 2rem;
}
.footer-connect__social a span {
  padding-left: 2em;
  display: none;
}
@media screen and (min-width: 768px) {
  .footer-connect__social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .footer-connect__social a span {
    display: initial;
  }
}

/* Logos: */
.footer__logos {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: logos;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 2em;
}
.footer__logos a {
  display: inline-block;
}
.footer__logos a:first-of-type {
  margin-right: 2em;
}
.footer__logos span {
  margin-top: 1rem;
  font-size: .5rem;
  font-style: italic;
  display: none;
}

.footer-logo__slab img {
  height: 3rem;
}

.footer-logo__uva {
  margin-top: 1em;
}
.footer-logo__uva img {
  height: 2rem;
}

/* Universal item page styles: */
[class*="__title"][class*="item-"] {
  margin-bottom: .5em;
  margin-top: 1em;
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
}
@media screen and (min-width: 600px) {
  [class*="__title"][class*="item-"] {
    font-size: 2rem;
  }
}

[class*="__cta"][class*="item"] {
  position: relative;
  margin-top: 1em;
}
[class*="__cta"][class*="item"] a {
  display: inline-block;
  padding: .25rem .5em;
  margin-top: 4px;
  font-size: 1.5rem;
  font-family: "base-mono-wide", monospace;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  color: cyan;
  border: 2px solid cyan;
}
[class*="__cta"][class*="item"] a:hover, [class*="__cta"][class*="item"] a:focus {
  background-color: transparent;
}

/* Main styles: */
.item-main-content {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "type"  "title" "img" "stats" "describe" "button";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  padding: 0 4.167%;
  padding-top: 1em;
}
@media screen and (min-width: 600px) {
  .item-main-content {
    padding: 0 8.33%;
    padding-top: 1em;
  }
}
@media screen and (min-width: 768px) {
  .item-main-content {
        grid-template-areas: "type type" "title img" "stats img" "describe describe" "button button";
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .sections-landing__big-title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .item__page-type {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .item__big-title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .item__img {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
  }
  .item__description {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .item__stats {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .item__cta {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .text__page-type {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .text__title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .fellowship__page-type {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .fellowship__big-title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .collect-landing__big-title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .research-landing__big-title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
}

.item-main-content--no-image {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "type" "title" "stats" "describe" "button";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  padding: 0 4.167%;
  padding-top: 1em;
}
@media screen and (min-width: 600px) {
  .item-main-content--no-image {
    padding: 0 8.33%;
    padding-top: 1em;
  }
}
@media screen and (min-width: 768px) {
  .item-main-content--no-image {
        grid-template-areas: "type type" "title stats" "describe describe" "button button";
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .sections-landing__big-title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .item__page-type {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .item__big-title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .item__description {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .item__stats {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .item__cta {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .text__page-type {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .text__title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .fellowship__page-type {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .fellowship__big-title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .collect-landing__big-title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .research-landing__big-title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
}

/* Page Type: */
.item__page-type {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: type;
      justify-self: center;
  position: relative;
  margin-top: 1em;
  margin-bottom: .5em;
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
}

/* Item Title: */
.item__big-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  position: relative;
  margin-bottom: 2em;
}

.item-title__title {
  margin-top: 0 !important;
}

/* Image: */
.item__img {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: img;
  position: relative;
}
@media screen and (min-width: 768px) {
  .item__img {
    padding-left: 4.167%;
  }
  .item__img img {
    width: 95.833%;
    float: right;
  }
}

/* Description: */
.item__description {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: describe;
}

/* Stats: */
.item__stats {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: stats;
}
@media screen and (min-width: 768px) {
  .item__stats {
    padding-right: 8.33%;
  }
}

.item-stats__box {
  position: relative;
  border: 4px solid cyan;
  font-family: "base-mono-narrow", monospace;
  font-size: 20px;
  text-align: right;
  margin-top: 1.5em;
  padding: .5em 1em;
}
.item-stats__box div {
  position: absolute;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  line-height: 1;
  -webkit-transform: translate(-1em, calc(-1.5em - 4px));
          transform: translate(-1em, calc(-1.5em - 4px));
}
.item-stats__box span {
  float: left;
  color: cyan;
}

/* Button: */
.item__cta {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: button;
}

.text-main-content {
  position: relative;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "type" "title" "metadata" "content";
  padding: 1em 4.167%;
}
@media screen and (min-width: 600px) {
  .text-main-content {
    padding: 1em 8.33%;
  }
}

.text__page-type {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: type;
  display: none;
}

.text__metadata {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: metadata;
}

.text__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  margin-bottom: .5em;
  margin-top: 1em;
  font-size: 3rem;
  font-weight: 900;
}

.text__content {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: content;
}

/* Universal fellowship page styles: */
[class*="__title"][class*="fellow-"] {
  margin-bottom: .5em;
  margin-top: 1em;
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
}
@media screen and (min-width: 600px) {
  [class*="__title"][class*="fellow-"] {
    font-size: 2rem;
  }
}

[class*="fellow-"] a, [class*="fellowship"] a {
  font-family: "base-mono-narrow", monospace;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid rgba(0, 47, 255, 0.8);
  background-color: transparent;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}
[class*="fellow-"] a:hover, [class*="fellow-"] a:focus, [class*="fellowship"] a:hover, [class*="fellowship"] a:focus {
  background-color: rgba(0, 47, 255, 0.8);
}
[class*="fellow-"] p, [class*="fellowship"] p {
  line-height: 1.5;
  margin: 1em 0;
  padding: 0;
}
[class*="fellow-"] strong, [class*="fellowship"] strong {
  font-family: "base-mono-narrow";
}

[class*="__cta"] {
  position: relative;
  margin-top: 2rem;
}
[class*="__cta"] a {
  display: inline-block;
  padding: .25rem .5em;
  font-size: 1.5rem;
  font-family: "base-mono-wide", monospace;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 47, 255, 0.8);
  border: 2px solid rgba(0, 47, 255, 0.8);
}
[class*="__cta"] a:hover, [class*="__cta"] a:focus {
  background-color: transparent;
}
[class*="__cta"] a span {
  display: none;
}
@media screen and (min-width: 600px) {
  [class*="__cta"] a span {
    display: initial;
  }
}

/* Main Fellowship Styles: */
.fellowship-main-content {
  position: relative;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "type" "title" "due" "content" "questions";
  padding: 1em 4.167%;
  /* ADD TO ALL MAIN CONTENT DEFS: */
}
@media screen and (min-width: 600px) {
  .fellowship-main-content {
    padding: 1em 8.33%;
  }
}
@media screen and (min-width: 1024px) {
  .fellowship-main-content {
    max-width: calc(1000px + 16.67%);
    margin: 0 auto;
  }
}

.fellowship__page-type {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: type;
  display: none;
}

/* Title: */
.fellowship__big-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  position: relative;
  margin-bottom: .5em;
  margin-top: 1em;
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 1;
  /*	&::after {
  		content: '';
  		position: absolute;
  		left: 0;
  		bottom: -.125em; //-.25em;
  		display: block;
  		height: 4px;
  		width: 100%;
  		z-index: -1;
  		background-color: $blue;
  	//	transform: translate(0, -50%);
  	} */
}
@media screen and (min-width: 600px) {
  .fellowship__big-title {
    font-size: 2.75rem;
  }
}
@media screen and (min-width: 768px) {
  .fellowship__big-title {
    font-size: 3rem;
  }
}

/* Due date: */
.fellowship__due-date {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: due;
}
@media screen and (min-width: 600px) {
  .fellowship__due-date {
    font-size: 1.125rem;
  }
}

/* Main Content: */
.fellowship__content {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: content;
}

/* Description: */
/* Eligibility: */
/* How to Apply: */
.fellow-apply__text {
  position: relative;
}
.fellow-apply__text ul {
  position: relative;
  margin: 0;
  padding: 0 0 0 2em;
  list-style-type: none;
  font-family: "base-mono-narrow", monospace;
}
.fellow-apply__text ul li {
  position: relative;
  margin-bottom: 1em;
  line-height: 1;
  /* NB: center of dot = 1rem from <li> */
}
.fellow-apply__text ul li::before {
  content: '';
  position: absolute;
  left: -4px;
  top: calc(.5em - 1px);
  display: block;
  height: 6px;
  width: 6px;
  background-color: rgba(0, 47, 255, 0.8);
  border-radius: 50%;
  -webkit-transform: translate(-0.5em, -25%);
          transform: translate(-0.5em, -25%);
}

/* Questions: */
.fellowship__questions {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: questions;
}

/* For logo-testing gallery */
.logo-testing__title {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  margin: 1em auto;
}
@media screen and (min-width: 900px) {
  .logo-testing__title {
    font-size: 3rem;
  }
}

.logo-testing__gallery {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-gallery__item {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.logo-item__img {
  max-width: 400px;
  display: inline-block;
  margin: 0 auto;
}

.logo-item__title {
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  margin-top: .5em;
  margin-bottom: 1em;
}
@media screen and (min-width: 600px) {
  .logo-item__title {
    font-size: 2rem;
  }
}

.collection-landing-wrapper {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: minmax(100vh, auto);
}

.collection-landing-grid {
  position: relative;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title" "subtitle";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  overflow: hidden;
  width: 100%;
  padding-left: 4.167%;
}
@media screen and (min-width: 600px) {
  .collection-landing-grid {
    padding: 0 8.33%;
  }
}

.collect-landing__big-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
      align-self: end;
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.collect-title__text {
  position: relative;
  margin-top: 1em;
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: .9;
}
.collect-title__text::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  display: block;
  height: 4px;
  width: 100vw;
  background-color: cyan;
}
@media screen and (min-width: 600px) {
  .collect-title__text {
    font-size: 5rem;
  }
}
@media screen and (min-width: 900px) {
  .collect-title__text {
    font-size: 6rem;
  }
}
@media screen and (min-width: 1024px) {
  .collect-title__text {
    font-size: 7rem;
  }
}

.collect-landing__description {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: subtitle;
  -ms-flex-item-align: start;
      align-self: start;
  position: relative;
  margin-top: 1.5em;
  padding-bottom: 1em;
  font-size: 1rem;
}
@media screen and (min-width: 600px) {
  .collect-landing__description {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .collect-landing__description {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 1024px) {
  .collect-landing__description {
    font-size: 2rem;
  }
}

.collection-main-content {
  position: relative;
  padding: 1em 4.167%;
  /* ADD TO ALL MAIN CONTENT DEFS: */
}
@media screen and (min-width: 600px) {
  .collection-main-content {
    padding: 1em 8.33%;
  }
}
@media screen and (min-width: 1024px) {
  .collection-main-content {
    margin: 0 auto;
  }
}

.collection-items-wrapper {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(300px, 1fr);
}

.collection__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  border: 1px solid black;
}

.collect-item__img {
  height: 150px;
  width: 200px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.collect-item__title {
  margin-top: 1em;
  font-size: 1.25rem;
  text-align: center;
}

/* Research Project Page */
/* Landing: */
.research-landing-wrapper {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: minmax(100vh, auto);
}

.research-landing-grid {
  position: relative;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title" "subtitle";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  overflow: hidden;
  width: 100%;
  padding-left: 4.167%;
}
@media screen and (min-width: 600px) {
  .research-landing-grid {
    padding: 0 8.33%;
  }
}

.research-landing__big-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  -ms-grid-row-align: end;
      align-self: end;
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.research-title__text {
  position: relative;
  margin-top: 1em;
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: .9;
}
.research-title__text::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  display: block;
  height: 4px;
  width: 100vw;
  background-color: cyan;
}
@media screen and (min-width: 600px) {
  .research-title__text {
    font-size: 5rem;
  }
}
@media screen and (min-width: 900px) {
  .research-title__text {
    font-size: 6rem;
  }
}
@media screen and (min-width: 1024px) {
  .research-title__text {
    font-size: 7rem;
  }
}

.research-landing__description {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: subtitle;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  position: relative;
  margin-top: 1.5em;
  padding-bottom: 1em;
  font-size: 1rem;
}
@media screen and (min-width: 600px) {
  .research-landing__description {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .research-landing__description {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 1024px) {
  .research-landing__description {
    font-size: 2rem;
  }
}

/* Main Content: */
.research-main-content {
  position: relative;
  padding: 1em 4.167%;
  /* ADD TO ALL MAIN CONTENT DEFS: */
}
@media screen and (min-width: 600px) {
  .research-main-content {
    padding: 1em 8.33%;
  }
}

/* Grid for items: */
.research-items-wrapper {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* Items: */
.research__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-bottom: 1em;
  margin-right: 1em;
  border: 1px solid black;
}
.research__item a {
  text-decoration: none;
}

.research-item__img {
  position: relative;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.research-item__img img {
  position: relative;
  width: 100%;
}

.research-item__title {
  margin-top: 1em;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
  color: black;
}

/* Navbar Styles: */
/* Universal page styles: */
[class*="nav-list"] a {
  text-decoration: none;
  color: white;
}

/* Main content: */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  padding: 0 4.167%;
  background-color: black;
  z-index: 5;
}
.navbar-wrapper a {
  text-transform: uppercase;
}

.navbar-main-grid {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__home-icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.navbar__home-icon a {
  display: block;
  border-bottom: none !important;
}
.navbar__home-icon a:hover, .navbar__home-icon a:focus {
  background-color: transparent !important;
}
.navbar__home-icon a img {
  display: block;
  height: 40px;
}

.navbar__link-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}
.navbar__link-list li {
  display: inline-block;
  padding-right: 2em;
}
.navbar__link-list li a {
  display: block;
}

/* Flexible Navigation Styles: */
.flexnav-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 1rem;
  border: 2px solid red;
  background-color: black;
}

ul[class*="flexnav"] {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

[class*="flexnav"][class*="__item"] a {
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: white;
  -webkit-transition: color .3s;
  transition: color .3s;
  white-space: nowrap;
}
[class*="flexnav"][class*="__item"] a:hover, [class*="flexnav"][class*="__item"] a:focus {
  color: magenta;
}

.flexnav-main-grid {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
  max-width: 60vw;
}

.flexnav__item {
  padding-right: 2em;
}

.flexnav-more__prompt {
  height: 60px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 60px;
  color: magenta;
}
.flexnav-more__prompt span {
  display: inline-block;
  line-height: 1rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.flexnav-more__prompt:hover, .flexnav-more__prompt:focus {
  cursor: pointer;
}

.flexnav-more__wrapper {
  position: absolute;
  right: -4.1vw;
  top: 0;
  margin-top: 60px !important;
  list-style-type: none;
  text-align: left;
  z-index: 1;
  display: none;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  background-color: black;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.flexnav-more__item {
  background-color: black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.flexnav-more__item a {
  padding: 0 1em;
  text-align: left !important;
  line-height: 3;
}

/* Classes for JS: */
.hidden {
  display: none;
}

.show-more-menu {
  display: initial;
  opacity: 1;
}

/* Navbar 2 Styles: */
.flexnav-wrapper--2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  padding: 0 4.167%;
  background-color: #222;
  z-index: 5;
}
.flexnav-wrapper--2 a {
  text-transform: uppercase;
}

.flexnav-main--2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  /* Classes for JS: */
}
.flexnav-main--2 .flexnav__home-icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.flexnav-main--2 .flexnav__home-icon a {
  display: block;
  padding-top: 16px;
  border-bottom: none !important;
}
.flexnav-main--2 .flexnav__home-icon a:hover, .flexnav-main--2 .flexnav__home-icon a:focus {
  background-color: transparent !important;
}
.flexnav-main--2 .flexnav__home-icon a img {
  display: block;
  height: 40px;
}
.flexnav-main--2 ul[class*="flexnav"] {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.flexnav-main--2 [class*="flexnav"][class*="__item"] a {
  display: inline-block;
  padding-bottom: .5em;
  font-family: "base-mono-wide", monospace;
  font-weight: 200;
  text-decoration: none;
  color: #a3edf5;
  border-bottom: 1px solid #a3edf5;
  -webkit-transition: color .3s;
  transition: color .3s;
  white-space: nowrap;
}
.flexnav-main--2 [class*="flexnav"][class*="__item"] a:hover, .flexnav-main--2 [class*="flexnav"][class*="__item"] a:focus {
  color: #1ad1e6;
}
.flexnav-main--2 .flexnav-main-grid {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
  max-width: 60vw;
}
.flexnav-main--2 .flexnav__item {
  padding-right: 2em;
}
.flexnav-main--2 .flexnav-more__prompt, .flexnav-main--2 .flexnav-more__prompt--2 {
  height: 60px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 60px;
  color: #a3edf5;
}
.flexnav-main--2 .flexnav-more__prompt span, .flexnav-main--2 .flexnav-more__prompt--2 span {
  display: inline-block;
  line-height: 1rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.flexnav-main--2 .flexnav-more__prompt:hover, .flexnav-main--2 .flexnav-more__prompt:focus, .flexnav-main--2 .flexnav-more__prompt--2:hover, .flexnav-main--2 .flexnav-more__prompt--2:focus {
  cursor: pointer;
}
.flexnav-main--2 .flexnav-more__wrapper {
  position: absolute;
  right: -4.1vw;
  top: 0;
  margin-top: 60px !important;
  list-style-type: none;
  text-align: left;
  z-index: 1;
  display: none;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  background-color: #222;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.flexnav-main--2 .flexnav-more__item {
  background-color: #222;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.flexnav-main--2 .flexnav-more__item a {
  padding: 0 1em;
  text-align: left !important;
  line-height: 3;
}
.flexnav-main--2 .hidden {
  display: none;
}
.flexnav-main--2 .show-more-menu {
  display: initial;
  opacity: 1;
}
