<footer class="footer-wrapper">
  <div class="footer-main-grid">

    <div class="footer__logos">
      <div class="footer-logo__slab">
        <img src="{{ '/assets/img/slab-logo-draft-black.svg' | relative_url }}" alt="SLab logo">
      </div>
      <div class="footer-logo__uva">
        <img src="{{ '/assets/img/uva-library-text.svg' | relative_url }}" alt="UVA Library logo">
      </div>
    </div>

    <div class="footer__to-top">
      <div class="footer-top__wrapper">
        <a href="#top">To top</a>
      </div>
    </div>

    <div class="footer__sitemap">
      <div class="footer-map__title">Site</div>
      <div class="footer-map__links">
        <a href="#">Home</a>
        <a href="#">FAQ</a>
        <a href="#">Hours & Spaces</a>
        <a href="#">Events</a>
      </div>
    </div>

    <div class="footer__contact">
      <div class="footer-contact__email">Email</div>
      <div class="footer-contact__address">Address</div>
      <div class="footer-contact__phone">Phone</div>
      <div class="footer-contact__fax">Fax</div>
    </div>

    <div class="footer__connect">
      <div class="footer-connect__social">
        <div class="footer-social__fb"><!-- insert SVG --><a href="#">Facebook</a></div>
        <div class="footer-social__twitter"><!-- insert SVG --><a href="#">Twitter</a></div>
        <div class="footer-social__gh"><!-- insert SVG --><a href="#">Github</a></div>
        <div class="footer-social__email"><!-- insert SVG --><a href="#">Email us</a></div>
      </div>
      <div class="footer-connect__news">
        <div class="footer-news__title">Newsletter</div>
        <div class="footer-news__modal"><!-- icon wrapped in JS trigger for newsletter modal to come up --></div>
      </div>
    </div>

  </div>
</footer>
