/* Coolors Exported Palette - coolors.co/e7e6f7-6c698d-d8d0c1-7d5ba6-75e3ef */

/* HSL */
$lavendermist: hsla(244%, 52%, 94%, 1);
$darkbluegray: hsla(245%, 15%, 48%, 1);
$pastelgray: hsla(39%, 23%, 80%, 1); // sand
$royalpurple: hsla(267%, 30%, 50%, 1);
$mediumskyblue: hsla(186%, 79%, 70%, 1);


/* Additional: */
$melon: hsla(7, 100%, 86%, 1);
$raisinblack: hsla(345, 6%, 13%, 1);

$paleturquoise: hsla(183, 60%, 84%, 1);
$violet: hsla(291, 95%, 75%, 1);


$darkpastelpurple: #9a77d2;

// text color:
$textgray: hsl(186,1%,25%);