.sections-landing-grid {
	position: relative;
	display: grid;
	grid-template-areas: "title";
	grid-template-columns: 1fr;
	grid-auto-rows: minmax(100vh, auto);
	align-items: end;
	overflow: hidden;
	width: 100%;
	padding-left: 4.167%;
	background-color: black;
	background-image: linear-gradient(to bottom, black, black 100vh, white 100vh, white);
	@media screen and (min-width: 600px) {
		padding-left: 8.33%;
	}
	@media screen and (min-width: 768px) {
		grid-template-areas: "title pics";
		grid-template-columns: 2fr 1fr;
	}
	@media screen and (min-width: 900px) {
		padding-left: 4.167%;
	}
	@media screen and (min-width: 1200px) {
		padding-right: 4.167%;
	}
}

// 'big-' prefix so =/= caught by title selector
.sections-landing__big-title {
	grid-area: title;
	align-self: start;
	position: relative;
	display: grid;
	align-items: center;
	justify-content: start;
	height: 100vh;
	font-family: "Oswald", sans-serif;
	font-size: 4rem;
	font-weight: 600;
	text-transform: uppercase;
	line-height: .9;
	color: white;
	@media screen and (min-width: 600px) {
		font-size: 5rem;
	}
	@media screen and (min-width: 900px) {
		font-size: 6rem;
	}
	@media screen and (min-width: 1024px) {
		font-size: 7rem;
	}
}

.sections-title__text {

}

.sections-landing__subtitle {

}

.sections-main-content {

}

.sections__one {

}

.section-one__title {

}

.section-one__text {

}

.sections__two {

}

.section-two__title {

}

.section-two__text {

}

.sections__three {

}

.section-three__title {

}

.section-three__text {

}

.sections__four {

}

.section-four__title {

}

.section-four__text {

}

.sections__five {

}

.section-five__title {

}

.section-five__text {

}